# Pandas Excercise

In [11]:
#%% DF24. 다음의 값으로 구성된 DataFrame을 생성하시오 

"""Original DataFrame
col1 col2 col3
0 1 4 7
1 4 5 8
2 3 6 9
3 4 7 0
4 5 8 1
Rows for colum1 value == 4
"""
import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(df_dic)
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [12]:
#%% 행의 index 대신 다음의 값을 label로 주고 결과를 출력하시오 

labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)
print(df)

   col1  col2  col3
a     1     4     7
b     4     5     8
c     3     6     9
d     4     7     0
e     5     8     1

In [13]:
#%% 'col1'의 평균을 구하시오

print(df['col1'].mean())

3.4

In [17]:
#%% 'col3'의 합계를 구하시오

print(df['col3'].sum())

25

In [8]:
#%% DF25. col1 과 col3의 순서를 바꾸어 출력하시오 


print(df)

df = df[['col3', 'col2', 'col1']]
print(df)

   col1  col2  col3
a     1     4     7
b     4     5     8
c     3     6     9
d     4     7     0
e     5     8     1
   col3  col2  col1
a     7     4     1
b     8     5     4
c     9     6     3
d     0     7     4
e     1     8     5

In [22]:
#%% DF29. 다음 dataframe에서 col2의 값이 5인 row를 삭제하고 출력하시오 
"""
Original DataFrame
col1 col2 col3
0 1 4 7
1 4 5 8
2 3 6 9
3 4 7 0
4 5 8 1
"""
import pandas as pd
import numpy as np

print("Original DataFrame")
print(df)
df = df[df.col2 != 5]
print("New DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
a     1     4     7
b     4     5     8
c     3     6     9
d     4     7     0
e     5     8     1
New DataFrame
   col1  col2  col3
a     1     4     7
c     3     6     9
d     4     7     0
e     5     8     1

In [10]:
#%% DF31. index 2인 row를 출력하시오 
"""
Original DataFrame
col1 col2 col3
0 1 4 7
1 4 5 8
2 3 6 9
3 4 7 0
4 5 8 1
"""

import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)

# 이거 []를 두 번 씌워야 함!
result = df.iloc[[2]]
print("Index-2: Details")
print(result)

Index-2: Details
   col1  col2  col3
c     3     6     9

In [24]:
#%% DF36. 다음의 주어진 dataframe에서 2,4번째 row를 없앤 후 다시 출력하시오 
"""
col1 col2 col3
0 1 4 7
1 4 5 8
2 3 6 9
3 4 7 0
4 5 8 1
"""

import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)


print("New DataFrame after removing 2nd & 4th rows:")
df = df.drop(df.index[[2,4]])
print(df)

New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
a     1     4     7
b     4     5     8
d     4     7     0

In [25]:
#%% DF42. 컬럼명 col2를 Column2로 변경하여 출력하시오 (rename())
"""
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 9
"""

import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)


df=df.rename(columns = {'col2':'Column2'})
print("New DataFrame after renaming second column:")
print(df)

New DataFrame after renaming second column:
   col1  Column2  col3
a     1        4     7
b     4        5     8
c     3        6     9
d     4        7     0
e     5        8     1

In [26]:
#%% DF43. 주어진 dataframe에서 col2 컬럼으로 이루어진 리스트를 출력하시오 (df.tolist())
"""
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 9
"""
import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)


col2_list = df["col2"].tolist()

print(col2_list)

[4, 5, 6, 7, 8]

In [28]:
#%% DF47.주어진 DataFrame에서 row 1과 4을 출력하시오 
"""
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11
"""
  
import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)


print("Value of Row1")
print(df.iloc[0])
print("Value of Row4")
print(df.iloc[3])

Value of Row1
col1    1
col2    4
col3    7
Name: a, dtype: int64
Value of Row4
col1    4
col2    7
col3    0
Name: d, dtype: int64

In [29]:
#%% DF57. 다음 DataFrame의 컬럼 수를 출력하시오 
"""
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11
"""

import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)


print(len(df.columns))

3

In [30]:
#%%DF59. 주어진 DataFrame에서 첫 3 row를 출력하시오 
"""
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
"""
import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)

print("\nFirst 3 rows of the said DataFrame':")
df1 = df.head(3)
print(df1)

First 3 rows of the said DataFrame':
   col1  col2  col3
a     1     4     7
b     4     5     8
c     3     6     9

In [31]:
#%% DF60. 주어진 DataFrame에서 마지막 3 row를 출력하시오 
"""
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
"""
import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)

print("\nLast 3 rows of the said DataFrame':")
df1 = df.tail(3)
print(df1)

Last 3 rows of the said DataFrame':
   col1  col2  col3
c     3     6     9
d     4     7     0
e     5     8     1

In [32]:
#%% DF 62. 주어진 DataFrame에서 첫 3 rows를 삭제하고 출력하시오 
"""
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
"""

import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)

print("\nAfter removing first 3 rows of the said DataFrame:")
df1 = df.iloc[3:]
print(df1)

After removing first 3 rows of the said DataFrame:
   col1  col2  col3
d     4     7     0
e     5     8     1

In [33]:
#%%DF63. 주어진 DataFrame에서 마지막 3 row를 삭제하고 출력하시오 
"""
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
"""
import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
labels = ['a','b','c','d','e']
df = pd.DataFrame(df_dic, index=labels)

print("\nAfter removing last 3 rows of the said DataFrame:")
df1 = df.iloc[:-3]
print(df1)

After removing last 3 rows of the said DataFrame:
   col1  col2  col3
a     1     4     7
b     4     5     8

In [17]:
#%% 'col1' 기준 내림차순, 'col2'기준 오름차순으로 sort하고 결과를 출력하시오. 

print(df.sort_values(['col1', 'col2'], ascending=[False, True]))

   col1  col2  col3
e     5     8     1
b     4     5     8
d     4     7     0
c     3     6     9
a     1     4     7

## Pandas excercise with baseball data

In [4]:
#%% baseball.csv 로부터 데이터를 읽어와 dataframe으로 저장하고 컬럼 labels,컬럼 labels 수, 데이터수, 로우와 컬럼수를 출력하시오.


import pandas as pd
import numpy as np

df = pd.read_csv("baseball.csv")
print(df.columns)
print(len(df.columns))
print(df.size)
print(df.shape)

Index(['Name', 'Team', 'Position', 'Height', 'Weight', 'Age', 'PosCategory'], dtype='object')
7
7105
(1015, 7)

In [5]:
#%% baseball 데이터 df의 head 100개와 tail 100개를 출력하시오.


import pandas as pd
import numpy as np

df.head(100)

,Name,Team,Position,Height,Weight,Age,PosCategory
0,Adam_Donachie,BAL,Catcher,74,180,22.99,Catcher
1,Paul_Bako,BAL,Catcher,74,215,34.69,Catcher
2,Ramon_Hernandez,BAL,Catcher,72,210,30.78,Catcher
3,Kevin_Millar,BAL,First_Baseman,72,210,35.43,Infielder
4,Chris_Gomez,BAL,First_Baseman,73,188,35.71,Infielder
...,...,...,...,...,...,...,...
95,Darren_Oliver,ANA,Relief_Pitcher,74,220,36.40,Pitcher
96,Hector_Carrasco,ANA,Relief_Pitcher,74,220,37.36,Pitcher
97,Scot_Shields,ANA,Relief_Pitcher,73,170,31.61,Pitcher
98,Francisco_Rodriguez,ANA,Relief_Pitcher,72,185,25.14,Pitcher
99,Greg_Jones,ANA,Relief_Pitcher,74,195,30.29,Pitcher

In [6]:
df.tail(100)

                Name Team        Position  Height  Weight    Age PosCategory
915    Ronny_Paulino  PIT         Catcher      75     215  25.86     Catcher
916     Adam_LaRoche  PIT   First_Baseman      75     180  27.32   Infielder
917      Ryan_Doumit  PIT   First_Baseman      72     200  25.91   Infielder
918      Brad_Eldred  PIT   First_Baseman      77     245  26.63   Infielder
919    Jose_Castillo  PIT  Second_Baseman      73     200  25.95   Infielder
...              ...  ...             ...     ...     ...    ...         ...
1010   Brad_Thompson  STL  Relief_Pitcher      73     190  25.08     Pitcher
1011   Tyler_Johnson  STL  Relief_Pitcher      74     180  25.73     Pitcher
1012  Chris_Narveson  STL  Relief_Pitcher      75     205  25.19     Pitcher
1013   Randy_Keisler  STL  Relief_Pitcher      75     190  31.01     Pitcher
1014     Josh_Kinney  STL  Relief_Pitcher      73     195  27.92     Pitcher

[100 rows x 7 columns]

In [18]:
#%% baseball 데이터 df의 100~300 행만 선택하여 새로운 파일에 저장하는 코드를 작성하시오 
#그리고 다시 저장한 파일을 읽어와 출력하시오.

import pandas as pd
import numpy as np
df200 = df.iloc[100:301]
df200.to_csv('df200.csv')
new_df = pd.read_csv('df200.csv')
display(new_df)

,Unnamed: 0,Name,Team,Position,Height,Weight,Age,PosCategory
0,100,Doug_Mirabelli,BOS,Catcher,73,220,36.37,Catcher
1,101,Jason_Varitek,BOS,Catcher,74,230,34.89,Catcher
2,102,George_Kottaras,BOS,Catcher,72,180,23.79,Catcher
3,103,Kevin_Youkilis,BOS,First_Baseman,73,220,27.96,Infielder
4,104,Dustin_Pedroia,BOS,Second_Baseman,69,180,23.54,Infielder
...,...,...,...,...,...,...,...,...
196,297,Julio_Mateo,SEA,Relief_Pitcher,72,177,29.58,Pitcher
197,298,J.J._Putz,SEA,Relief_Pitcher,77,220,30.02,Pitcher
198,299,Chris_Reitsma,SEA,Relief_Pitcher,77,235,29.16,Pitcher
199,300,Cesar_Jimenez,SEA,Relief_Pitcher,71,180,22.30,Pitcher
200,301,Eric_O'Flaherty,SEA,Relief_Pitcher,74,195,22.06,Pitcher

In [8]:
#%% baseball 데이터 df의 Position이 "Outfielder"인 선수를 찾아 df_OF 파일에 저장하시오
# df_OF 파일을 불러와 출력하시오.

import pandas as pd
import numpy as np


OF_df = df[df.Position =="Outfielder"]
OF_df.to_csv('df_OF.csv')

df_OF = pd.read_csv('df_OF.csv')
display(df_OF)

,Unnamed: 0,Name,Team,Position,Height,Weight,Age,PosCategory
0,9,Adam_Stern,BAL,Outfielder,71,180,27.05,Outfielder
1,10,Jeff_Fiorentino,BAL,Outfielder,73,188,23.88,Outfielder
2,11,Freddie_Bynum,BAL,Outfielder,73,180,26.96,Outfielder
3,12,Nick_Markakis,BAL,Outfielder,74,185,23.29,Outfielder
4,13,Brandon_Fahey,BAL,Outfielder,74,160,26.11,Outfielder
...,...,...,...,...,...,...,...,...
189,993,So_Taguchi,STL,Outfielder,70,163,37.66,Outfielder
190,994,Juan_Encarnacion,STL,Outfielder,75,215,30.98,Outfielder
191,995,Skip_Schumaker,STL,Outfielder,70,175,27.07,Outfielder
192,996,John_Rodriguez,STL,Outfielder,72,205,29.11,Outfielder
193,997,Chris_Duncan,STL,Outfielder,77,210,25.82,Outfielder

In [9]:
#%% DF29. baseball 데이터 df에서 team이 "STL"인 선수들 row를 삭제하고 출력하시오 

import pandas as pd
import numpy as np

df2 = df[df.Team != "STL"]

display(df2)

                Name Team        Position  Height  Weight    Age PosCategory
0      Adam_Donachie  BAL         Catcher      74     180  22.99     Catcher
1          Paul_Bako  BAL         Catcher      74     215  34.69     Catcher
2    Ramon_Hernandez  BAL         Catcher      72     210  30.78     Catcher
3       Kevin_Millar  BAL   First_Baseman      72     210  35.43   Infielder
4        Chris_Gomez  BAL   First_Baseman      73     188  35.71   Infielder
..               ...  ...             ...     ...     ...    ...         ...
978     Brian_Wilson   SF  Relief_Pitcher      73     205  24.96     Pitcher
979    Merkin_Valdez   SF  Relief_Pitcher      77     208  25.30     Pitcher
980   Brad_Hennessey   SF  Relief_Pitcher      74     185  27.06     Pitcher
981     Billy_Sadler   SF  Relief_Pitcher      72     190  25.44     Pitcher
982        Pat_Misch   SF  Relief_Pitcher      74     170  25.53     Pitcher

[983 rows x 7 columns]

In [19]:
#%% DF31. baseball 데이터 df에서 index 456인 row를 출력하시오 

import pandas as pd
import numpy as np

display(df)
result = df.iloc[456]
display(result)

                 Name Team        Position  Height  Weight    Age PosCategory
0       Adam_Donachie  BAL         Catcher      74     180  22.99     Catcher
1           Paul_Bako  BAL         Catcher      74     215  34.69     Catcher
2     Ramon_Hernandez  BAL         Catcher      72     210  30.78     Catcher
3        Kevin_Millar  BAL   First_Baseman      72     210  35.43   Infielder
4         Chris_Gomez  BAL   First_Baseman      73     188  35.71   Infielder
...               ...  ...             ...     ...     ...    ...         ...
1010    Brad_Thompson  STL  Relief_Pitcher      73     190  25.08     Pitcher
1011    Tyler_Johnson  STL  Relief_Pitcher      74     180  25.73     Pitcher
1012   Chris_Narveson  STL  Relief_Pitcher      75     205  25.19     Pitcher
1013    Randy_Keisler  STL  Relief_Pitcher      75     190  31.01     Pitcher
1014      Josh_Kinney  STL  Relief_Pitcher      73     195  27.92     Pitcher

[1013 rows x 7 columns]

Name                 Matt_Garza
Team                        MIN
Position       Starting_Pitcher
Height                       76
Weight                      185
Age                       23.26
PosCategory             Pitcher
Name: 457, dtype: object

In [11]:
#%% DF36. baseball 데이터 df에서 256번째, 478번째 row를 없앤 후 다시 출력하시오 

import pandas as pd
import numpy as np

df = df.drop([256,478], axis=0)
display(df)

                 Name Team        Position  Height  Weight    Age PosCategory
0       Adam_Donachie  BAL         Catcher      74     180  22.99     Catcher
1           Paul_Bako  BAL         Catcher      74     215  34.69     Catcher
2     Ramon_Hernandez  BAL         Catcher      72     210  30.78     Catcher
3        Kevin_Millar  BAL   First_Baseman      72     210  35.43   Infielder
4         Chris_Gomez  BAL   First_Baseman      73     188  35.71   Infielder
...               ...  ...             ...     ...     ...    ...         ...
1010    Brad_Thompson  STL  Relief_Pitcher      73     190  25.08     Pitcher
1011    Tyler_Johnson  STL  Relief_Pitcher      74     180  25.73     Pitcher
1012   Chris_Narveson  STL  Relief_Pitcher      75     205  25.19     Pitcher
1013    Randy_Keisler  STL  Relief_Pitcher      75     190  31.01     Pitcher
1014      Josh_Kinney  STL  Relief_Pitcher      73     195  27.92     Pitcher

[1013 rows x 7 columns]

In [12]:
#%% baseball 데이터 df에서 선수들의 키의 평균은 얼마인가? 

a = sum(df.Height)/len(df.Height)
avg = df.Height.mean()

print(a)
print(avg)

73.68805528134254
73.68805528134254

In [13]:
#%% baseball 데이터 df에서 몸무게가 190이상이고 200 이하인 선수는 몇명인가?

a = len(df[(df.Weight>=190) & (df.Weight<=200)])

print(a)

282

In [14]:
#%% baseball 데이터 df에서 20대 이상, 30대 이상 선수는 각각 몇명인가?

a = len(df[df.Age>=20])
b = len(df[df.Age>=30])

print(a)
print(b)

1013
338

In [21]:
#%% baseball 데이터 df에서 position의 종류는 어떤 것이 있나?

df_list = list()

df_list = df['Position'].tolist()
#display(df_list)

df_set = set(df_list)
display(df_set)

{'Catcher',
 'First_Baseman',
 'Outfielder',
 'Relief_Pitcher',
 'Second_Baseman',
 'Shortstop',
 'Starting_Pitcher',
 'Third_Baseman'}